.jumbotron {
    background-color: yellow;
    color: black;
}

.footer {
    padding: 10px 10px 0px 10px;
    background-color: rgb(240, 200, 23);
    margin-bottom: 0px;
    margin-top: 10px ;
}

.btn-reserva {
    background-color: rgb(70, 14, 224);
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}